@font-face {
    font-family: poppins;
    src: url(Poppins/Poppins-Light.ttf)
}

body {
    font-family: poppins;
    overflow-x: hidden;
    margin-left: -0;
}
html{
    scroll-behavior: smooth;
}
.intro {
    position: fixed;
    border: none;
    background-color: rgba(101, 143, 61, 1);
    text-align: center;
    color: white;
    width: 100%;
    top: 0;
    z-index: 1;
}

.navigation_bar {
    display: flex;
    background-color: white;
    gap: 40%;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 5vh;
    left: 0;
    z-index: 1;

    img {
        width: 8%;
        height: 6%;
        padding-left: 10%;
    }
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links li a {
    color: rgb(8, 1, 1);
    text-decoration: none;
    font-size: 1rem;
}

.nav-links li a:hover {
    text-decoration: underline;
    color:orange;
}

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/vegatables.jpg);
    background-repeat: no-repeat;
    height: 95vh;
    background-size: cover;
    line-height: 1.6;

    h1 {
        font-size: 400%;
        color: hsl(150, 29%, 97%);
    }
}

.home-text {
    padding: 10%;
    width: 70%;
    text-align: center;
    margin: auto;
}
#home p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

#get_btn {
    background-color: orange;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

#get_btn:hover {
    background-color: rgba(101, 143, 61, 1);
}

.features {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #fff;
    flex-wrap: wrap;
}
.feature {
    text-align: center;
    max-width: 300px;
    padding: 2rem;
}
.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.discount {
    background-color: orange;
    padding: 20px;
    text-align: center;
    color: black;
    border-radius: 10px;
}
.discount h1 {
    font-size: 250%;
    margin: 0 0 10px 0;
}

.discount p {
    font-size: 21px;
    margin: 0 0 20px 0;
}

.items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    padding: 3rem;
}

.item {
    position: relative;
    text-align: center;
}

.item img {
    height: 200px;
    width: 250px;
    border-radius: 5px;
}

.price {
    position: absolute;
    top: -10px;
    left: 15%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 8px 10px;
    border-radius: 50%;
    font-size: 0.9em;
}

.original-price {
    text-decoration: line-through;
    color:red;
}

.discounted-price {
    color: #000;
    font-weight: bold;
}

#about {
    padding: 2rem;
    text-align: left;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    width: 60%;
    margin: auto;
    justify-content: space-between;

    h1 {
        font-size: 400%;
        color:rgba(101, 143, 61, 1);
        text-align: center;
    }
}

#contact-us-button{
    background-color: rgba(101, 143, 61, 1);
    width:25%;
    padding: 2% 2% 2% 5%;
    border: none;
    border-radius: 20px;
    color:white;
    font-size: 1.2em;
}

.product-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5%;
    flex-wrap: wrap;
    img {
        height: 300px;
        width: 400px;
        position: relative;
        z-index: -1;
    }
    .item span {
        border: none;
        background-color: rgba(101, 143, 61, 1);
        color: white;
        padding: 5px 10px;
        position: relative;
        left: 5vw;

    }
}

.fresh-grocery {
    line-height: 1.6;
    button {
        background-color: rgba(101, 143, 61, 1);
         padding: 3% 3% 3% 5%;
        width: 30%;
        border: none;
        border-radius: 20px;
        color: white;
        margin-left: 30%;
        font-size: 18px;
    }
    h2 {
        font-size: 300%;
        color:rgba(101, 143, 61, 1);
    }

    p {
        font-size: 21px;
    }
}
.products {
    padding: 2rem;
    text-align: center;
    flex-wrap: wrap;
    img {
        height: 200px;
        width: 250px;
        border-radius: 20px;
    }
    h1 {
        font-size: 400%;
        color: rgba(101, 143, 61, 1);
    }
}

.product-grid {
    display: flex;
    gap: 10%;
    width: 80%;
    margin: auto;
    padding-top: 3%;
    line-height: 2%;
}
@font-face {
    font-family: itim;
    src: url(Itim-Regular.ttf);
}

#testimonials {
    padding: 0.5vw;
    text-align: center;
    border: none;
    margin-top: 5%;
    background-color: rgba(164, 199, 120, 1);
    font-family: poppins;
    width: 100vw;
    margin-left: -2vw;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.testimonial-grid {
    display: flex;
    margin-left: 7vw;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonial {
    border: none;
    background-color: rgba(164, 199, 120, 1);
    padding: 1.5rem;
    border-radius: 5px;
    width: 15vw;
    margin-top: 5vh;
}

.second-testimonial {
    border: none;
    background-color: rgba(164, 199, 120, 1);
    padding: 1.5rem;
    border-radius: 5px;
    width: 15vw;
    margin-top: 5vh;
}

.third-testimonial {
    border: none;
    background-color: rgba(164, 199, 120, 1);
    padding: 1.5rem;
    border-radius: 5px;
    width: 15vw;
    margin-top: 5vh;
}
.testimonial p {
    font-style: italic;
    margin-bottom: 1rem;
}

#get-app {
    padding: 2rem;
    margin-left: 10vw;
    display: flex;
    gap: 15vw;
    margin-top: -5vh;
    position: relative;
    top: 5vh;
}

#get-app h2 {
    font-size: 4em;
    font-family: itim;
    margin-left: 1.5vw;
}

#get-app p {
    font-family: poppins;
    position: relative; 
}

#first_phone {
    width: 22vw;
    height: 80vh;
    position: relative;
    top: 20vh;
    left: 3vw;
}

#second_phone {
    width: 23vw;
    height: 80vh;
    position: relative;
    z-index: -1;
    top: 15vh;
}

#play-store {
    padding: 0.00vw 2vw;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20vh;
    border: none;
    background-color: black;
}

#play {
    color: white;
    font-size: 2em;
    
}

button h1 {
    font-size: 1em;
}

button {
    display: flex;
    text-align: center;
}

span {
    color: white;
}

.get-app h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.get-app .btn {
    background-color: white;
    color: green;
}

.get-app .btn:hover {
    background-color: #F4F4F4;
}

#contact {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 20vw;
    padding: 2rem;
    border: none;
    background-color: rgba(101, 143, 61, 1);
    margin-left: -2vw;
    width: 100vw;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-left: 15vw;
    margin-bottom: 10vh;
    color: white;
    font-family: poppins;
}

#contact form {
    max-width: 600px;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50vw;
}

#contact input,
#contact textarea {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

#contact textarea {
    resize: vertical;
    min-height: 100px;
}

#contact .btn {
    background-color: rgba(238, 171, 62, 1);
    color: white;
    border: none;
    cursor: pointer;
    width: 7vw;
    padding: 0.5vw;
    border-radius: 20px;
}

.btn p {
    margin-left: 1.2vw;
}

#contact .btn:hover {
    background-color: #27AE60;
}

.contact-info {
    font-family: poppins;
    border: none;
    background-color: white;
    margin-top: -3.3vh;
    width:20%;
}

.contact-info p {
    margin-top: 5vh
}

.name {
    display: flex;
    gap: 6.8vw;
    width: 8vw;
}

.get-in-touch {
    margin-left: 7vw;
}

.testimonial img {
    width: 8vw;
    height: 16vh;
    border-radius: 400px;
}

.second-testimonial img {
    width: 8vw;
    height: 16vh;
    border-radius: 400px;
}

.third-testimonial img {
    width: 8vw;
    height: 16vh;
    border-radius: 400px;
}

#testimonials p {
    font-size: 1.5em;
}

#testimonials h2 {
    font-size: 2em;
}

#testimonials h1 {
    font-size: 3em;
    color: green;
}

#reach {
    font-size: 1.5em;
    color: #000;
}

footer {
    background-color: rgba(101, 143, 61, 1);
    color: white;
    padding: 1rem;
    font-family: poppins;
    width: 100vw;
    margin-left: -2vw;
    position: relative;
    top: -1vh;
}

@media (max-width: 750px) {
    .navigation_bar {
        gap: 1rem;
        padding: 1rem;

        img {
            width: 15%;
            padding-left: 0;
        }
    }

    .nav-links {
        gap: 0.5rem;
        font-size: x-small;

        a {
            font-size: 10px;
        }
    }

    .home-text {
        width: 80%;
        padding: 5%;

    }

    #home {
        height: 80vh;
        margin-top: 15%;

        h1 {
            font-size: 100%;

        }
    }

    #about {
        flex-direction: column;
        width: 90%;
        padding: 1rem;

        h1 {
            font-size: 2rem;
        }
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .product-categories {
        flex-wrap: wrap;
    }

    .center {
        grid-column: span 1;
    }

    .item img {
        height: 200px;
        object-fit: cover;
    }


    .discount h1 {
        font-size: 1em;
    }

    .discount p {
        font-size: 0.8em;
    }

    .item img {
        width: 80px;
    }

    .items {
        gap: 10px;
    }


    .product-categories {
        width: 90%;
        flex-direction: column;
        gap: 1rem;

        img {
            width: 100%;
            height: 200px;
        }

        .item span {
            width: 30%;
        }
    }

    .fresh-grocery {
        text-align: center;

        button {
            width: 50%;
            padding: 2%;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

    .products {
        padding: 1rem;

        h1 {
            font-size: 2rem;
        }

        img {
            width: 150px;
            height: 120px;
        }
    }

    .product-grid {
        flex-direction: column;
        gap: 2rem;
        width: 90%;
    }
    .testimonial-grid{
        width:100%;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .discount h1 {
        font-size: 1.3em;
    }

    .discount p {
        font-size: 0.9em;
    }

    .item img {
        width: 100px;
    }

    .items {
        gap: 15px;
    }

    .product-categories {
        flex-wrap: wrap;
    }

    .center {
        grid-column: span 2;
    }

    .item img {
        height: 250px;
        object-fit: cover;
    }

    .navigation_bar {
        gap: 20%;

        img {
            width: 10%;
        }
    }

    .home-text {
        width: 70%;
        padding: 7%;
    }

    #home {
        height: 85vh;
        margin-top: 10%;
    }

    #about {
        width: 80%;
        padding: 1.5rem;

        h1 {
            font-size: 3rem;
        }
    }




    .product-categories {
        width: 90%;
        gap: 1.5rem;

        img {
            width: 300px;
            height: 250px;
        }

        .item span {
            width: 25%;
        }
    }

    .fresh-grocery {
        button {
            width: 40%;
            padding: 2.5%;
        }

        h2 {
            font-size: 2rem;
        }
    }
    .products {
        padding: 1.5rem;

        h1 {
            font-size: 3rem;
        }

        img {
            width: 200px;
            height: 160px;
        }
    }

    .product-grid {
        gap: 5%;
        width: 90%;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .discount h1 {
        font-size: 1.8em;
    }

    .discount p {
        font-size: 1.2em;
    }

    .item img {
        width: 150px;
    }

    .items {
        gap: 25px;
    }

    .product-categories {
        grid-template-columns: repeat(3, 1fr);
    }

    .center {
        grid-column: span 3;
    }

    .item img {
        height: 300px;
        object-fit: cover;
    }

    .navigation_bar {
        gap: 30%;

        img {
            width: 9%;
        }
    }

    .home-text {
        width: 60%;
        padding: 8%;
    }

    #home {
        margin-top: 7%;
    }

    #about {
        width: 70%;
        padding: 2rem;

        h1 {
            font-size: 3.5rem;
        }
    }
    .product-categories {
        width: 85%;
        gap: 2rem;

        img {
            width: 350px;
            height: 280px;
        }

        .item span {
            width: 22%;
        }
    }

    .fresh-grocery {
        button {
            width: 35%;
            padding: 2.5%;
        }

        h2 {
            font-size: 2.5rem;
        }
    }

    .products {
        padding: 2rem;

        h1 {
            font-size: 3.5rem;
        }

        img {
            width: 225px;
            height: 180px;
        }
    }

    .product-grid {
        gap: 7%;
        width: 85%;
    }
}